#-------------------------
# Temporary folder
#-------------------------
/.wwebjs_auth
/node_modules
/downloaded-media/*
!/downloaded-media/
#-------------------------
# Temporary Files
#-------------------------
package-lock.json
