#-------------------------
# Temporary folder
#-------------------------
/.wwebjs_auth
/node_modules
/downloaded-media/*
!/downloaded-media/file.txt

#-------------------------
# Temporary Files
#-------------------------
package-lock.json

#-------------------------
# Environment Variables
#-------------------------
.env
